.body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.background {
  background-image: url("../Images/background-bonding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header {
  grid-column: 1 / -1;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.p-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.image {
  width: 70%;
  border: 1px solid purple;
  border-radius: 50%;
}

p {
  text-align: center;
  padding: 0 1rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 100px auto 100px;
}

footer {
  grid-column: 1 / -1;
  text-align: center;
  border-top: gray 1px solid;
  padding-top: 5px;
}

@media screen and (max-width: 500px) {
  .image-sec {
    grid-column: 1 / -1;
    text-align: center;
  }
  .bio-sec {
    grid-column: 1 / -1;
  }
  .container {
    grid-template-rows: 100px auto auto 100px;
  }
}

.link-footer {
  border: 100px;
}

footer > div > a {
  padding: 0rem 2rem;
}
a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
}

h4 {
  text-align: center;
}

h2 {
  font-family: "MedievalSharp", cursive;
  text-align: center;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d312d;
  opacity: 0.9;
  transition: 0.7s;
  overflow-x: hidden;
}
.nav ul {
  padding: 0;
}

.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 25px;
}
.slide a {
  font-size: 36px;
}

#content {
  padding: 20px;
}

.p-portfolio {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 90%;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.p-contact {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.p-white {
  color: white;
}
