* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  overflow: auto;
  background-image: url("../Images/background-bonding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  grid-column: 1 / -1;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-top: 1px;
}

.image {
  width: 80%;
  border: 2px solid yellow;
  border-radius: 50%;
}

p {
  text-align: center;
  padding: 0 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 70px auto 120px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.cv-sec {
  display: flex;
  justify-content: flex-end;
}

footer {
  grid-column: 1 / -1;
  text-align: center;
  border-top: gray 1px solid;
  padding-top: 5px;
}

.link-footer > div > a > img {
  width: 2.5rem;
}

.link-footer {
  border: 100px;
}

.contact-footer > a {
  padding: 0rem 2rem;
  color: skyblue;
  display: inline-flex;
  font-size: 8 1rem;
}

.contact-footer {
  display: block;
  padding-bottom: 1rem;
}

.social-footer {
  display: block;
}

.social-footer > a {
  padding: 0rem 2rem;
  color: skyblue;
  display: inline-block;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: palevioletred;
}

h4 {
  text-align: center;
  color: yellow;
  margin-top: 2px;
  margin-bottom: 1px;
  font-family: "MedievalSharp", cursive;
}

h2 {
  font-family: "MedievalSharp", cursive;
  text-align: center;
  color: yellow;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d312d;
  opacity: 0.9;
  transition: 0.7s;
  overflow-x: hidden;
}
.nav ul {
  padding: 0;
}

.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 25px;
}
.slide a {
  font-size: 36px;
}

#content {
  padding: 20px;
}

.p-contact {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}

.p-white {
  color: white;
  margin-top: 0;
}

.p-skills {
  box-sizing: border-box;
  border: 5px solid purple;
  width: 11rem;
  height: 7rem;
  padding: 1px;
  background-color: seagreen;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  font-size: 48px;
  color: #fff;
}
button {
  font-size: 24px;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  border: none;
  width: 15vw;
}

.project-container {
  background-image: url("../Images/memory\ game\ shot.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 200px;
  width: 420px;
  gap: 1px;
}
.project-wording {
  height: 50px;
  width: 310px;
  font-size: 20px;
  padding: 4px;
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-rows: 70px auto auto 120px;
    grid-template-columns: 1fr;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .image-sec {
    grid-column: 1 / -1;
    text-align: center;
  }
  .bio-sec {
    grid-column: 1 / -1;
  }
  .link-footer > div > a > img {
    width: 1rem;
  }
  .contact-footer > a {
    font-size: 1rem;
  }
  section > .p-skills {
    box-sizing: border-box;
    border: 5px solid purple;
    position: relative;
    left: 10px;
    width: 200px;
    padding: 5px;
    height: 40px;
    background-color: seagreen;
    text-align: center;
    margin: 0;
  }
  .cv-sec {
    display: flex;
    justify-content: center;
  }
  .body {
    font-size: 1rem;
  }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    font-size: 48px;
    color: #fff;
  }

  button {
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border: none;
    width: 33vw;
  }
}
