.body {
  margin: 0;
  font-family: cursive;
  font-size: 20px;
  background-color: plum;
}

.header {
  grid-column: 1 / -1;
  border-bottom: 1px solid gray;

  box-sizing: border-box;
}

.p-header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.image {
  width: 70%;
  border: 1px solid purple;
  border-radius: 90%;
}

p {
  text-align: center;
  padding: 0 1rem;
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 100px auto 100px;
}

footer {
  grid-column: 1 / -1;
  text-align: center;
  border-top: gray 1px solid;
  padding-top: 5px;
}

@media screen and (max-width: 500px) {
  .image-sec {
    grid-column: 1 / -1;
    text-align: center;
  }
  .bio-sec {
    grid-column: 1 / -1;
  }
  .container {
    grid-template-rows: 100px auto auto 100px;
  }
}

.link-footer {
  border: 100px;
}

footer > div > a {
  padding: 0rem 2rem;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: red;
}

h4 {
  text-align: center;
}

h2 {
  font-family: "MedievalSharp", cursive;
  text-align: center;
}
