<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link
      rel="shortcut icon"
      href="../Images/favicon.ico"
      type="image/x-icon"
    />
    <title>Kele Mokwena</title>
    <script
      src="https://kit.fontawesome.com/e5caba0a64.js"
      crossorigin="anonymous"
    ></script>

    <script src="../js/slideMenu.js" type="text/javascript"></script>
  </head>
  <body class="body">
    <div class="background">
      <main class="container">
        <header>
          <div id="content">
            <span class="slide">
              <a href="#" onclick="openSlideMenu()">
                <i class="fas fa-bars"></i
              ></a>
            </span>
            <div id="menu" class="nav">
              <a href="#" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i
              ></a>
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../templates/skills.html">Skills</a></li>
                <li><a href="../templates/portfolio.html">Portfolio</a></li>
              </ul>
            </div>
          </div>
        </header>
        <div class="image-sec">
          <img src="../Images/kelePic.jpg" alt="Profile Photo" class="image" />
        </div>

        <section class="bio-sec">
          <h4>Programming languages and tools that I use/used are:</h4>
          <p class="p-white">
            JavaScript, PHP, Html 5, Github, CSS, MicroSoft Visual Studio Code,
            PHPmyAdmin and MySQL.
          </p>
          <h4>Soft skills.</h4>
          <p class="p-white">
            I work well in a team, good with communicating both verbally and
            written, a problem solver, good with MicroSoft Office, can attend
            telephonic queries, datacapturing, web development, software tester.
          </p>
        </section>
        <section class="bio-sec">
          <p>
            <a href="../downloadables/CV-Kele.pdf" download="Kele-CV"
              >Download My CV here</a
            >
          </p>
        </section>

        <footer>
          <div class="link-footer">
            <div class="contact-footer">
              <a href="mailto:mokwenakw@gmail.com"
                ><img
                  src="../Images/gmail.png"
                  alt="email adress"
                />mokwenakw@gmail.com</a
              >
              <a href="tel:+27786856323"
                ><img
                  src="../Images/whatsapp.png"
                  alt="phone number"
                />+27786856323</a
              >
            </div>
            <div class="social-footer">
              <a href="https://www.facebook.com/palesa.young.love.mokwena">
                <img src="../Images/facebook.png" alt="Facebook link" />
              </a>
              <a href="https://twitter.com/Kelz_Mokwena">
                <img src="../Images/twitter.png" alt="Twitter link"
              /></a>
              <a
                href="https://www.linkedin.com/in/kelebogile-mokwena-950b30166/"
                ><img src="../Images/linkedin.png" alt="Linkedin link" />
              </a>
              <a href="https://github.com/Kmokwena">
                <img src="../Images/github.png" alt="Github link"
              /></a>
            </div>
          </div>
        </footer>
      </main>
    </div>
  </body>
</html>
